.job-card {
  background-color: #f7fbfe !important;
  box-shadow: none !important;
  border: 2px solid transparent !important;
  transition: 0.3s all ease-in-out;
  border-radius: 10px !important;
  &__details {
    height: 100%;
    z-index: 4;
    // box-shadow: 0 2px 8px 0px #2b4d66 !important;
  }
  &__bordered {
    border: 2px solid #2596d3 !important;
  }

  .close-btn {
    position: absolute;
    left: 0;
    top: 0px;
  }
  &__read-more {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: auto !important;
}
.floating-card {
  position: absolute;
  left: 0;
  min-height: 50vh;
}
.color-primary {
  color: #2596d3 !important;
}
.color-gray {
  color: #a1a1a1 !important;
}
.job-card {
  border: 2px solid transparent !important;
}
.job-card--hover {
  &:hover {
    border: 2px solid #2596d3 !important;
  }
}
.jobs-tab {
  .v-tab {
    color: #bddff2 !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  .v-tab--active {
    color: #2596d3 !important;
  }
}
.msg-card {
  background-color: #f7fbfe !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
  transition: 0.3s all ease-in-out;
  border-radius: 10px !important;
  &:hover {
    border: 1px solid #2596d3 !important;
  }
  &__read-more {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    min-height: 90px;
    -webkit-box-orient: vertical;
  }
}

.notifications {
  .v-list {
    padding: 0 !important;
    .v-list-item {
      border-bottom: 1px solid #ddd;
      margin: 0 1.5rem;
      padding: 0.875rem 0;
    }
  }
}
.agents {
  .img-content {
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(0.9);
    }
  }
}
.blog-card {
  position: relative;
  h2 {
    position: absolute;
    bottom: 0;
    color: white;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      rgb(255 255 255 / 40%),
      rgb(111 111 111 / 60%)
    ) !important;
    display: flex;
    align-items: flex-end;
    padding: 10px 20px;
  }
  &--news {
    article {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      // h2 {
      //   position: relative !important;
      // }
    }
  }
}
.news-card {
  position: relative;
  border-radius: 10px !important;
  .v-card__text {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      rgb(255 255 255 / 40%),
      rgb(111 111 111 / 60%)
    ) !important;
    // display: flex;
    // align-items: flex-end;
    padding: 10px 20px;
    z-index: 9;
    article {
      position: absolute;
      bottom: 0;
      border-radius: 10px;
      max-width: 80%;
      right: 10%;
      bottom: -60px;
      &.right-5 {
        right: 5% !important;
      }
    }
  }
}
